<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title" id="exampleModalLabel">Experiencia</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="bg-secondary">
                <label for="formFile" class="form-label">Cargo</label>
                <input class="form-control" [class.border-danger]="CargoInvalid" formControlName="cargo" type="text" id="formFile">
            </div>
            <div *ngIf="Cargo?.errors && Cargo?.touched">
                <p *ngIf="Cargo?.hasError('required')" class="error">
                    El cargo es requerida.
                </p>
            </div>

            <div class="bg-secondary">
                <label for="formFile" class="form-label">Empresa</label>
                <input class="form-control" [class.border-danger]="EmpresaInvalid" formControlName="empresa" type="text" id="formFile">
            </div>
            <div *ngIf="Empresa?.errors && Empresa?.touched">
                <p *ngIf="Empresa?.hasError('required')" class="error">
                    El nombre de la empresa o institución es requerido.
                </p>
            </div>

            <div class="bg-secondary">
                <label for="formFile" class="form-label">Inicio</label>
                <input class="form-control" [class.border-danger]="InicioInvalid" formControlName="inicio" type="text" id="formFile">
            </div>
            <div *ngIf="Inicio?.errors && Inicio?.touched">
                <p *ngIf="Inicio?.hasError('required')" class="error">
                    La fecha de inicio es requerida.
                </p>
            </div>

            <div class="bg-secondary">
                <label for="formFile" class="form-label">Fin</label>
                <input class="form-control" [class.border-danger]="FinInvalid" formControlName="fin" type="text" id="formFile">
            </div>
            <div *ngIf="Fin?.errors && Fin?.touched">
                <p *ngIf="Fin?.hasError('required')" class="error">
                    La fecha de finalización o continuidad requerida.
                </p>
            </div>

            <div class="bg-secondary">
                <label for="formFile" class="form-label">Descripción</label>
                <input class="form-control" [class.border-danger]="DescripcionInvalid" formControlName="descripcion" type="text" id="formFile">
            </div>
            <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                <p *ngIf="Descripcion?.hasError('required')" class="error">
                    La descripción es requerida.
                </p>
            </div>

            <div class="bg-secondary">
                <label for="formFile" class="form-label">Logo</label>
                <input class="form-control" [class.border-danger]="LogoInvalid" formControlName="logo" type="file" id="formFile">
            </div>
            <div *ngIf="Logo?.errors && Logo?.touched">
                <p *ngIf="Logo?.hasError('required')" class="error">
                    El logo es requerida.
                </p>
            </div>

            <div class="modal-footer bg-secondary">
                <button type="submit" class="btn btn-dark">Guardar</button>
            </div>
        </form>
        </div>
    </div>
</div>
