<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title" id="exampleModalLabel">Experiencia</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="bg-secondary">
                <label for="formFile" class="form-label">Experiencia</label>
                <input class="form-control" [class.border-danger]="ExperienciaInvalid" formControlName="experiencia" type="text" id="formFile">
            </div>
            <div *ngIf="Experiencia?.errors && Experiencia?.touched">
                <p *ngIf="Experiencia?.hasError('required')" class="error">
                    La experiencia es requerida.
                </p>
            </div>

            <div class="bg-secondary">
                <label for="formFile" class="form-label">Referencia</label>
                <input class="form-control" [class.border-danger]="ReferenciaInvalid" formControlName="referencia" type="file" id="formFile">
            </div>
            <div *ngIf="Referencia?.errors && Referencia?.touched">
                <p *ngIf="Referencia?.hasError('required')" class="error">
                    La referencia es requerida.
                </p>
            </div>

            <div class="modal-footer bg-secondary">
                <button type="submit" class="btn btn-dark">Guardar</button>
            </div>
        </form>
        </div>
    </div>
</div>
