<section class="proyectos rounded">
    <div class="position-relative">
        <div class="position-absolute top-0 end-0">
            <i class="fa-solid fa-plus fa-xl" id="agregar-proyectos" type="button" data-bs-toggle="modal" data-bs-target="#proyectosModal"></i>
        </div>
        <h2 class="text-center mt-4">Proyectos</h2> <br>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, veniam dolore aliquam unde deleniti, tempora vel tenetur exercitationem voluptatibus ad aliquid sint cum. Explicabo veritatis officia ex dolor voluptatum minima.</h4> <br>
    </div>
</section>
<app-modpro></app-modpro>