<section class="skills rounded">
    <div class="position-relative">
        <div class="position-absolute top-0 end-0">
            <i class="fa-solid fa-plus fa-xl" id="editar-skills" type="button" data-bs-toggle="modal" data-bs-target="#skillsModal"></i>
        </div>
        <h2 class="text-center mt-4">Skills</h2> <br>
        <app-skiss></app-skiss>
        <br>
    </div>
</section>
<app-modskills></app-modskills>
<app-modlinux></app-modlinux>
<app-modhtml></app-modhtml>
<app-modcss></app-modcss>
<app-modjs></app-modjs>
<app-modboots></app-modboots>
<app-modang></app-modang>