    <!-- Modal Salir-->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-secondary">
                    <h5 class="modal-title" id="exampleModalLabel">¡Ya está logueado!</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-secondary">
                    <h6 class="modal-salir">Usted está en modo administrador, si desea volver al inicio haga click en el botón <strong>"Salir"</strong>.</h6>
                    <h6 class="modal-salir">Si desea seguir editando haga click en el botón <strong>"Cancelar"</strong></h6>
                </div>

                <div class="modal-footer bg-secondary">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                    <a routerLink="/inicio"><button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Salir</button></a>
                </div>
            </div>
        </div>
    </div>
