<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="https://www.instagram.com/otsuguaesoj/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="https://www.facebook.com/profile.php?id=100065280665868" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
    <!-- Botón que abre Inicio de Sesión -->
    </li>
        <li class="nav-item">
            <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa-solid fa-user-lock fa-2xl"></i></a>
    </li>
</ul>
