<section class="educacion rounded">
    <div class="position-relative">
        <div class="position-absolute top-0 end-0">
            <i class="fa-solid fa-plus fa-xl" id="editar-educacion" type="button" data-bs-toggle="modal" data-bs-target="#educacionModal"></i>
        </div>
        <h2 class="text-center mt-4">Educación</h2> <br>
        <div class="container">
            <app-instad></app-instad>
        </div> <br>
    </div>
</section>
<app-modeduc></app-modeduc>
<app-modtec></app-modtec>
<app-modies></app-modies>
<app-modiesa></app-modiesa>
<app-modunca></app-modunca>